[Unit]
Description=docker-gitea
Requires=docker.service
After=docker.service

[Service]
Restart=always

WorkingDirectory=/opt/docker-compose-gitea/

# Remove old containers, images and volumes
ExecStartPre=/usr/local/bin/docker-compose down -v
ExecStartPre=/usr/local/bin/docker-compose rm -v

# Compose up
ExecStart=/usr/local/bin/docker-compose up

# Compose down, remove containers and volumes
ExecStop=/usr/local/bin/docker-compose down -v

[Install]
WantedBy=multi-user.target
